@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap');

:root {
    --header: #9f9f9f;
    --background: #cecece;
    --inputTexto: #fcfffb;
    --destaque: #6ee588;
    --plus: #225c2e;
    --box: #f5e6bb;
    --borderLine: #e0dc5a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bebbe8;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    padding: 0.2rem;
    background-color: var(--header);
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: clamp(1.6rem, 3vw, 2rem);
    white-space: nowrap; /*impede a quebra da linha*/
}

img {
    width: 2.6rem;
    height: auto;
    object-fit: contain;
}

#botao {
    background-color: var(--background);
}

main {
    max-width: 900px;
    width: 90%;
    background-color: var(--background);
    padding: 3rem 4.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    flex-wrap: wrap;
}

p {
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    text-align: left;
}

input[type="text"] {
    width: 80%;
    padding: 0.6rem;
    font-family: "Silkscreen", sans-serif;
    font-size: 0.8rem;
}

button[type="submit"] {
    background-color: var(--destaque);
}