@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap');

:root {
    --header: #9f9f9f;
    --background: #cecece;
    --inputTexto: #fcfffb;
    --destaque: #6ee588;
    --plus: #225c2e;
    --box: #f5e6bb;
    --borderLine: #e0dc5a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    min-width: none;
    width: 100%;
    padding: 0.2rem;
    background-color: var(--header);
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logotipo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 2rem;
}

.logotipo h1 {
    font-size: clamp(1.3rem, 3vw, 1.6rem);
    white-space: nowrap; /*impede a quebra da linha*/
}

.logotipo img {
    width: 2.2rem;
    height: auto;
    object-fit: contain;
}

#darkModeBtn {
    background-color: var(--background);
    width: 3rem;
    margin-right: 3rem;
    background: url(/assets/modo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

main {
    max-width: 900px;
    width: 90%;
    background-color: var(--background);
    padding: 3rem 4.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    flex-wrap: wrap;
}

p {
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    text-align: left;
}

.addTarefas {
    display: flex;
    gap: 2px;
    align-items: center;
    flex-wrap: wrap;
}

input[type="text"] {
    width: 100%;
    padding: 0.6rem;
    font-family: "Silkscreen", sans-serif;
    font-size: clamp(0.9rem, 2vw, 1rem);
    justify-content: center;
    flex: 1;
    min-width: 0;
}

button[type="submit"] {
    background-color: var(--destaque);
    width: 3rem;
    height: 2.6rem;
    font-size: 2rem;
    justify-content: center;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-top: 0px solid;
    border-left: 0px solid;
    flex-shrink: 0;
}

h2 {
    text-align: left;
    font-size:large;
}

.listaTarefas {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
    border: 1px solid black;
    border-bottom: 2px solid;
    border-right: 2px solid;
}

.item {
    background-color: var(--box);
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--borderLine);
}

.item input[type="checkbox"] {
    margin-right: 1rem;
    cursor: pointer;
}

.item label {
    flex: 1;
    text-align: left;
    font-size: clamp(0.9rem, 2vw, 1rem);
    cursor: pointer;
}

.item input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #757575;
}

.delete {
    width: 24px;
    height: 24px;
    background: url("/assets/trash.png");
    background-size: contain;
    border: none;
    cursor: pointer;
    padding-right: 2rem;
    background-repeat: no-repeat;
}

img, .delete {
    max-width: 100%;
}

.pedente {
    display: flex;
    gap: 0.4rem;
    align-items:first baseline;
}

#contador {
    background-color: var(--box);
    padding: 0.2rem;
    border-bottom: 2px solid;
    border-right: 2px solid;
    cursor:context-menu;
}

@media (max-width: 768px) {
    main {
        padding: 1.5rem 1.5rem;
    }
}

@media (max-width: 480px) {
    .item {
        padding: 0.6rem;
    }
    .item label{
        font-size: 0.85rem;
    }
}

/* dark modo */

body.dark-mode {
    background: #121212;
    color: white;
    transition: background 0.4s, color 0.4s;
}

body.dark-mode header {
    background: #121212;
}

body.dark-mode main {
    background: black;
}

body.dark-mode .item {
    background: #757575;
    border-bottom: 2px solid #5f5f5f;
    box-shadow: none;
}

body.dark-mode #darkModeBtn {
    background: url(./assets/modo-escuro.png) no-repeat center;
    background-size: contain;
}

body.dark-mode .item input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #c7c7c7;
}

body.dark-mode #contador {
    background-color: #757575;
    border-bottom: 2px solid #464646;
    border-right: 2px solid #464646;
}

body.dark-mode .listaTarefas {
    border-bottom: #464646;
    border-right: #464646;
}