@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap');

:root {
    --header: #9f9f9f;
    --background: #cecece;
    --inputTexto: #fcfffb;
    --destaque: #6ee588;
    --plus: #225c2e;
    --box: #f5e6bb;
    --borderLine: #e0dc5a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bebbe8;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    text-align: center;
}

header {
    padding: 0.4rem;
    background-color: var(--header);
    border-bottom: 2px solid;
    display: flex;
    justify-content: center;
}

img {
    width: 2.6rem;
}

#botao {
    margin-left: 6rem;
    background-color: var(--background);
}

main {
    background-color: var(--background);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input[type="text"] {
    width: 40%;
    padding: 0.5rem;
    font-family: "Silkscreen", sans-serif;
    font-size: 0.8rem;
}