@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
  
body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    color: #333;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-family: Playfair, 400;
  }

  /* Cabeçalho com ID */
  header {
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 40px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .logo img {
    height: 80px;
    padding: 0;
  }

  .menu-direito {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .pesquisa {
    display: flex;
  }

  .pesquisa input[type="text"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid gray;
    width: 40vw;
    padding: 0.7rem;
  }

  .pesquisa button {
    background-color: rgb(19, 19, 19);
    color: white;
    height: 3rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    cursor: pointer;
  }

  .menu-direito a {
    text-decoration: none;
    color: black;
    font-size: 14px;
  }

  .cart-btn {
    background: transparent;
    border: 1px solid #0c0c0c;
    color: #15b879;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 6px;
    text-size-adjust: bold;
  }

  .hero {
    height: 50vh;
    background: 
    url("./assets/promo.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    color: white;
  }

  .hero h1 {
    font-size: 3rem;
    margin: 0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  }

  .hero p {
    font-size: 1.3rem;
    margin: 20px 0;
    max-width: 700px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  }

  .banner {
    background: #bbbbbb; /* degrade chamativo */
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    padding: 12px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 20px; /* espaço antes do main */
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }

  .banner span {
    font-size: 12px;
  }

  .banner p {
    margin: 0;
    width: 10%;
  }
  
  .produtos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
  }

  .card {
    border: 1px solid #ddd;
    padding: 15px;
    width: auto;
    max-width: 400px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  .card img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .card h2 {
    font-size: 18px;
    margin: 10px 0;
  }

  .card p {
    font-size: 20px;
    color: #33bb18;
    margin: 8px 0;
    font-weight: 400;
  }

  .card .descricao {
    color: #686868;
    font-size: 12px;
  }

  .card button {
    background: #0c0c0c;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }

  .card button:hover {
    background: #1b6d2d;
  }

  .card .frete {
    color: #34a829;
    font-family: sans-serif;
    font-size: 14px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 2000;
  }

  .overlay.active {
    opacity: 1;
    visibility: visible;
  }

  /* Sidebar carrinho*/
  .cart-sidebar {
    position: fixed;
    top: 0;
    right: -750px;
    width: 750px;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    transition: right 0.4s ease;
    z-index: 2000;
    display: flex;
    flex-direction: row;
  }

  .cart-sidebar.active {
    right: 0;
  }

  .cart-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 110vw;
  }

  .cart-title {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e6e6e6;
    justify-content: space-between;
    gap: 8rem;
  }

  .cart-title h2 {
    text-align: left;
  }

  .close-cart {
    font-size: 28px;
    cursor: pointer;
    padding: 1rem;
    padding-left: 3rem;
  }

  .cart-lista {
    width: 100%;
  }

  .cartHeader {
    display: flex;
    flex-direction: row;
    gap: 3.8rem;
    text-align: center;
    font-size: 12px;
    padding-top: 0.6rem;
    padding-bottom: 1rem;
  }

  .cartItem {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1.4rem;
    font-size: small;
    padding-left: 0.8rem;
  }

  .cartItem img {
    width: 8%;
    height: 20%;
    padding: 0.6rem;
  }

  .cartItem p {
    margin: 0;
  }

  .cartItem .quantity {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .cartItem .quantity button {
    width: 22px;
    height: 22px;
    border: 1px solid #a1a1a1;
    background: #eee;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    padding: 1px;
  }

  .totalCarrinho {
    background: #f0f0f0;
    width: 85vw;
    max-width: 1000px;
  }

  .resumo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .resumo span {
    font-weight: 500;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.2rem;
  }

  .resumo p {
    margin: 0;
    font-size: 1rem;
  }

  .totalCalculado {
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 70%;
    border-top: 1px solid #dfdfdf;
  }


  .checkout {
    width: 100%;
    background: #111;
    color: #fff;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
  }

  .checkout:hover {
    background: #333;
  }

  /* Navegação */
  .navegacao {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    margin-bottom: 25px;
    color: #ffffff;
  }
  
  .link-nav {
    color: white;
    padding: 8px 16px;
    margin: 0 10px;
    text-decoration: none;
    display: inline-block;
  }
  
  /* Container principal */
  .container {
    width: 85%;
    margin: 0 auto;
    padding: 15px;
  }
  
  /* Layout de duas colunas */
  .layout-blog {
    display: flex;
    justify-content: space-between;
  }
  
  /* Coluna principal */
  .coluna-principal {
    width: 65%;
    padding: 20px;
  }
  
  /* Coluna lateral */
  .coluna-lateral {
    width: 30%;
    padding: 20px;
  }
  

  .post2 {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px #000000;
  }
  
  .post-destaque {
    border-left: 5px solid #000000;
  }
  
  /* Imagem do post */
  .imagem-post {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Informações do post */
  .info-post {
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
    margin-top: 15px;
    color: #757575;
  }
  
  /* Widgets da barra lateral */
  .widget {
    background-color: white;
    border-radius: 10px;
    border: 2px solid #000000;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .widget2 {
    background-color: white;
    border-radius: 10px;
    border: 2px solid #000000;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Perfil do autor */
  #perfil-autor {
    text-align: center;
    padding: 20px;
    margin-bottom: 25px;
    background-color: #e8e2dd;
    color: rgb(19, 19, 19);
    border-radius: 10px;
    height: 180px;
  }
  
  .foto-perfil {
    width: 80px;
    height: 80px;
    background-color: #bedae7;
    border-radius: 50%;
    margin: 0 auto 15px;
    background-image: url("./assets/logo.png");
    background-size: cover;
    background-position: center;
  }

  /* Lista de categorias */
  .lista-categorias {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  #minibox {
    background-color: #000000;
    border: 3px solid #000000;
    padding: 20px;
    color: #ffffff;
    margin-bottom: 30px;
    border-radius: 10px;
  }
  
  #minibox2 {
    background-color: #000000;
    border: 3px solid #000000;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
  }
  
  .item-categoria {
    padding: 8px 0;
    margin: 5px 0;
    border-bottom: 1px solid #e0e0e0;
    color: rgb(255, 255, 255);
  }
  
  .item-categoria:hover {
    background: #e8e2dd(116, 8, 8, 0.349);
    color: #e8e2dd(218, 43, 43, 0.658);
  }
  
  .linktree{
    color: #000;
  }
  
  #botao1 {
    justify-content: center;
    color: #000000;
    text-align: center;
  }
  /* Rodapé */
  #rodape-blog {
    background-color: #000000;
    color: white;
    text-align: center;
    margin-top: 40px;
    width: 100%;
    height: 100px;
    font-family: sans-serif;
  }

  .formularioCadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -40vh;
  }

  .formularioCadastro h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
  }

  .form {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 25px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form label span {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
  }

  .form input[type="email"],
  .form input[type="tel"],
  .form input[type="text"],
  .form input[type="password"] {
    width: 95%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .checkbox {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    font-size: 13px;
    color: #333;
  }

  .termos {
    font-size: 12px;
    color: #555;
    line-height: 1.4;
  }
  .termos a {
    color: #3483fa;
    text-decoration: none;
  }
  
  /* Botão */
  .btn {
    background: #272727;
    color: white;
    font-size: 15px;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  .btn:hover {
    background: #2968c8;
  }

  .signupBanner {
    height: 50vh;
    background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url("./assets/signup.png") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    color: white;
  }

  .formularioCadastro h2 {
    display: flex;
    width: 28%;
  }