
/* BUTTON */
.btn {
    padding: 12px 20px;
    border-radius: var(--radius);
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
}

.btn-secondary {
    background-color: var(--color-secondary);
    color: white;
}

/* CARD GENERICO */
.card {
    background: white;
    border-radius: var(--radius);
    padding: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

