@import "./components.css";

:root {
  --color-primary: #5dbb63;
  --color-secondary: #EA4335;
  --color-destaque: #FBBC04;
  --color-bg: #ffffff;
  --color-text: #333333;
  --radius: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}
